@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/font/CooperHewitt-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Cooper Hewitt';
    src: url('/font/CooperHewitt-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Cooper Hewitt';
    src: url('/font/CooperHewitt-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }